body{

font-family: Arial;

background: linear-gradient(135deg,#000000,#1a0000);

color:white;

text-align:center;

padding:40px;

}

h1{

color:gold;

}

select,input{

padding:12px;

border-radius:8px;

border:none;

margin:10px;

width:220px;

}

button{

padding:12px;

border:none;

border-radius:8px;

background:red;

color:white;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#ff3333;

}

.offers{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

margin-top:40px;

}

.offerCard{

background:linear-gradient(135deg,#ff0000,#ff9900);

padding:20px;

border-radius:15px;

width:200px;

box-shadow:0 10px 25px rgba(0,0,0,0.5);

transition:0.3s;

}

.offerCard:hover{

transform:scale(1.1);

}

.offerCard h2{

color:white;

}

.offerCard p{

margin:5px;

}
